* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
}



.app-header h1{
    color: #e53170;
    text-align: center;
    padding-top: 20px;
}

.container {
    margin: auto;
    width: 50%;
    padding-top: 50px;
}

.text {
    text-align: center;
    margin-bottom: 50px;
}

.cards {
    display: inline-block;
}


.clearfix::after {
    content:'';
    display: table;
    clear: both;
}

.card{
    
    margin-right: 20px;
    height: 50px;
    width: calc(100% / 3);
    background-color: #0f0e17;
    float: left;
}

img {
    height: 50px;
    background-size: cover;
    /* float: left; */
}

strong {
    color: white;
    font-size: 10px;
    padding-right: 20px;
    padding-left: 5px;
    /* float: left; */
}


 .main-card{ 
   
    color: white;
    padding-top: 5px;
    padding-left: 5px;
    font-size: 6px;
    /* float: left; */

} 

.link{
    font-size: 6px;
    padding-left: 5px;
    padding-top: 10px;
    color: #478a9a;
    text-decoration: none;
    /* float: left; */
}
