* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif ;
}



.app-header h1{
    color: #e53170;
    text-align: center;
    padding-top: 20px;
}

.container {
    margin: auto;
    width: 50%;
    padding-top: 50px;
}

.text {
    text-align: center;
}

/* .debug {
    height: 50px;
    width: 50px;
    background-color: aqua;
} */
.cards{
    padding-top: 50px;
}

.clearfix::after {
    margin-top: 50px;
    content: '';
    display: table;
    clear: both;
}

.card{
    height: 50px;
    width: auto;
    background-color: #0f0e17;
    color: white;
    float: left;
}

img {
    height: 50px;
}

strong {
    font-size: 10px;
    padding-right: 20px;
    padding-left: 5px;
}

p{
   
}

.main-card{ 
    padding-top: 5px;
    font-size: 6px;
    padding-left: 5px;

}

.link{
    font-size: 6px;
    padding-left: 5px;
    color: #478a9a;
    text-decoration: none;
    
}